
/*Footer 1*/
.footer-1 .container{
	border-top: 3px solid #672D91;
	border-bottom: 3px solid #672D91;
	padding: 20px 0 ;
}
.footer-1 span{
	height: 80px;
	width: 80px;
	margin-left: 10px;
	display: table-cell;
	background-color: #672D91;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}
.footer-1 .slogan-footer{
	width: 80%;
}
.footer-1 .detail-slogan{
    margin-top: 15px;
}
.footer-1 h4{
	font-size: 15px;
	color: #672D91;
}
.footer-1 p{
	font-size: 15px;
}
/*Footer 2*/
.footer-2{
	margin-top: 50px;
	background-color: #F8F8F8;
	}
.subfooter-2{
	padding: 50px 0;
	text-align: left;
	font-size: 14px;
}
.subfooter-2 h1{
	font-size: 18px;
}
.subfooter-2 .title{
	color: #3E4D5D;
	font-weight: bold;
}
.subfooter-2 hr{
	border-top: 3px solid #672D91;
	width: 50px;
	margin-left: 0;
}
.subfooter-2 ul li{
	list-style: none;
	margin-left: -40px;
	padding: 5px 0;
}
.subfooter-2 a{
	text-decoration: none;
	color: #3E4D5D;
}
.subfooter-2 li:hover a{
	color: #672D91;
	font-weight: bold;
}
.contact{
	margin-left: -15px;
}
.contact-footer{
	margin-bottom: 10px;
}
.endpage{
	background-color: #2B3D4F;
	text-align: center;
	padding: 5px 0;
}
#endpage-detail{
	display: inline-block;
	color: #fff;
	margin: 0;
}
@media (max-width:  768.98px){
	.footer-1,.subfooter-2{
		padding-left: 5px;
	}
	.endpage{
		text-align: left;
		padding-left: 5px;
	}
	#endpage-detail{
		display: block;
	}
}